/**
    Licensed to the Apache Software Foundation (ASF) ...
*/

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-sizing: border-box;
}

html {
    overscroll-behavior: none;
}

body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    background-color:#4B0082; /* أرجواني داكن */
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    font-size:12px;
    height:100vh;
    margin:0px;
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
    text-size-adjust: none;
    text-transform:uppercase;
    user-select: none;
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/splash.png) no-repeat center top; /* استخدم splash.png */
    position:absolute;
    left:50%;
    top:50%;
    height:50px;
    width:225px;
    text-align:center;
    padding:180px 0px 0px 0px;
    margin:-115px 0px 0px -112px;
}

/* Landscape layout */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background:url(../img/splash.png) no-repeat left center;
        padding:75px 0px 75px 170px;
        margin:-90px 0px 0px -198px;
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

#deviceready.ready .event.listening { display: none; }
#deviceready.ready .event.received { display: block; }

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    -webkit-animation:fade 3000ms infinite;
    animation:fade 3000ms infinite;
}

@media screen and (prefers-color-scheme: dark) {
    body {
        background-color:#2E0854; /* أرجواني داكن أكثر للوضع الليلي */
    }
}
